.h1
{
    font-family: cursive;
    font-size: 4em;
}

body {
    background-color: #EEE;
}
#gopGraph .choice {
    float: left;
    font-family: arial;
    font-size: 1.5em;
    min-width: 200px;
    /*text-align: right;*/
    margin: 8px 5px;
    text-align: left;
}
#gopGraph .bar {
    width: 0;
    height: 35px;
    background-color: red;
    margin: 5px;
    /*float:none;*/
    text-align: center;

}
#demGraph .choice {
    float: left;
    font-family: arial;
    font-size: 1.5em;
    min-width: 200px;
    /*text-align: right;*/
    margin: 8px 5px;
    text-align: left;
}
#demGraph .bar {
    width: 0;
    height: 35px;
    background-color: blue;
    margin: 5px;
    /*float:none;*/
    text-align: center;

}

.graphs .choice {
    float: left;
    font-family: arial;
    font-size: 1.5em;
    min-width: 200px;
    text-align: left;
    margin: 8px 5px;
}
.graphs .bar {
    width: 0;
    height: 35px;
    background-color: coral;
    margin: 5px;
    float: right;
}
.graphs .value {
    float: right;
    font-family: arial;
    font-size: 1.5em;
    min-width: 200px;
    text-align: left;
    margin: 8px 5px;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}

#graphsmbtz7 .bar{
  height: 50px;
  margin: 7px;
}
